<?php
  $this->template_version = $this->config->item('template');
  $js = isset($js) ? $js : "";
  $user_id_string = !empty($user_info['user_id']) ? $user_info['display_name'] : "";
?>
    <?php $this->load->view("{$this->template_version}_template/view_header"); ?>
      <div id="container">
        <div class="main">
          <div id="header_container">
            <h1 class="underline"><?= $page_header ?></h1>
            <div id="login_id_container">
              <em><?= $user_id_string ?></em>
            </div>
          </div>

        </div>
      </div>
    <?php $this->load->view("{$this->template_version}_template/view_footer_short"); ?>
  </div>
<script type='text/javascript'>
//<![CDATA[
    <?= $js ?>
//]]>
</script>

  </body>
</html>
